@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body{
    text-align: center;
    font-family: "Bitter", sans-serif;
    background: linear-gradient(180deg, #F2F2F2 0%, #31B5C1 100%);
    margin: 0;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.row {
    display: flex;
}

.block {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
    background-color: #fcf9f4;
}

    .block h2{
        color: #24a9b5;
    }

.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: white;
     height: 50px;
     flex-direction: row-reverse;
}

    .header p {
        flex-grow: 1;
        text-align: center;
    }

    .header a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100px;
        margin: 10px;
        background-color: #430f82;
        font-family: "Bitter", sans-serif;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 10px;
    }
    
        .header a:hover {
            background-color: #f3e4ce;
            color: black;
        }
    
.footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 50px;
}

